<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1682DC7520A52A2B00D42316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1682DC8920A52A2C00D42316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1682DC9420A52A2C00D42316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
